
/*.in-one-row {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    font-size: 50px;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/*.h1{*/
/*    display: flex;*/
/*}*/
/*h1{*/
/*    margin-bottom: 5px;*/
/*}*/
/*h3{*/
/*    margin-top: 10px;*/
/*}*/

/*input{*/
/*    border-radius: 2px;*/
/*    padding: 5px 20px;*/
/*    border: 1px solid black;*/
/*}*/

/*input:focus{*/
/*    border: 1px solid blue;*/
/*    outline: 1px solid blue;*/
/*}*/





/*  new-way */

#app{
    text-align: center;
}

#winner{
    font-size: 100px;
    color: green;
    text-align: center;
}

#problem{
    font-size: 70px;
}

.incorrect{
    color: red;
}